<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF8">
<title>title</title>
</head>
<body>
    <button>GET API</button>
    <div>
    {% block content %}
    
    {% endblock  %}
    </div>
</body>
</html>